{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ get_app_name }} {% block page_title %} {% endblock %}</title>

    {% include 'partials/css.html' %}

    {% block extra_css %}{% endblock %}
</head>

<body>

{% include 'partials/navigation.html' %}


{% block content %}{% endblock content %}


{% include 'partials/js.html' %}

{% include 'partials/messages.html' %}

{% block extra_js %}{% endblock %}

</body>

</html>