<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'web:index' %}">
                    Anasayfa
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'web:cart' %}">
                    <i class="bi-cart"></i> Sepet
                </a>
            </li>

            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web:profile' %}">
                        <i class="bi-person"></i> Hesabım
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web:logout' %}">
                        <i class="bi-fullscreen-exit"></i> Çıkış
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web:login' %}">
                        <i class="bi-unlock"></i> Giriş
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>
