<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ get_app_name }}</title>
</head>
<body>
{% if validlink %}
    <h2>Parola Güncelleme</h2>
    <form method="post" action="{% url 'management:password_reset' uidb64=uidb64 token=token %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Güncelle</button>
    </form>
    {% for err in form.error_messages %}
        {{ err }}
    {% endfor %}

{% else %}
    <h2>Parola sıfırlama linki geçerli değil!</h2>
{% endif %}
</body>
</html>