{% include 'partials/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                {% if validlink %}
                    <h6 class="mt-5">Lütfen linki kontrol edin ve <b>https</b> ile başladığından emin olun.</h6>
                    <form method="post" action="{% url 'management:password_reset' uidb64=uidb64 token=token %}"
                          id="password-reset-form">
                        {% csrf_token %}
                        <div class="mb-3 mt-5">
                            <label for="newPassword" class="form-label">Yeni Parola</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword"
                                   aria-describedby="newPasswordHelp">
                            <div id="newPasswordHelp" class="form-text">Lütfen sağlam bir parola belirleyin.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="newPasswordAgain" class="form-label">Yeni Parola Tekrar</label>
                            <input type="password" class="form-control" id="newPasswordAgain" name="newPasswordAgain"
                                   aria-describedby="newPasswordAgainHelp">
                            <div id="newPasswordAgainHelp" class="form-text">Parolanızı tekrar girin.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success" id="password-reset-btn">Sıfırla</button>
                    </form>
                {% else %}
                    <h2>Parola sıfırlama linki geçerli değil!</h2>
                {% endif %}
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        const newPassword = document.querySelector('#newPassword');
        const newPasswordAgain = document.querySelector('#newPasswordAgain');

        function validatePassword() {
            if (newPassword.value.length < 8) {
                alertify.error('Parolanız en az 8 karakter olmalıdır.');
                return false;
            }
            if (newPassword.value !== newPasswordAgain.value) {
                alertify.error('Parolalar eşleşmiyor.');
                return false;
            }
            return true;
        }

        $('#password-reset-btn').on('click', (e) => {
            e.preventDefault();
            if (validatePassword() === true) {
                $('#password-reset-form').submit();
            }
        })
    </script>

{% endblock %}