<div class="card" style="height: 100%;">
    <div class="card-body">
        <h5 class="card-title">Oturum Açma</h5>
        <hr>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <form action="{% url 'web:login' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="loginEmail" class="form-label">Email Adresi</label>
                <input type="email" class="form-control" id="loginEmail" name="loginEmail" placeholder="E-Mail Adresi"
                       required>
            </div>
            <div class="mb-3">
                <label for="loginPassword" class="form-label">Parola</label>
                <input type="password" class="form-control" id="loginPassword" placeholder="Parola" name="loginPassword"
                       required>
            </div>
            <button type="submit" class="btn btn-success">Giriş</button>
        </form>
    </div>
</div>