<!doctype html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ app_name }}</title>

    {% include 'partials/css.html' %}
</head>

<body>

    <p>Sayın {{ user.first_name }} {{ user.last_name }},</p>
    <p>
        {{ app_name }} bağışçı hesabınız için parola sıfırlama formunuza
        <a href="{{ protocol }}://{{ domain }}/api/password-reset/{{ uid }}/{{ token }}/">buradan</a>
        erişebilirsiniz.
    </p>
    <p>Eğer parola sıfırlama talebinde bulunmadıysanız lütfen parolamı unuttum butonu ile kendinize yeni bir parola
        oluşturun.</p>
    <p>Teşekkürler,</p>
    <p>{{ app_name }}</p>

    {% include 'partials/js.html' %}

    {% include 'partials/notification.html' %}
</body>

</html>