{% extends 'partials/base.html' %}

{% block content %}
    <p>Sayın {{ user.first_name }} {{ user.last_name }},</p>
    <p>
        {{get_app_name}} bağışçı hesabınız için parola sıfırlama formunuza
        <a href="{{ protocol }}://{{ domain }}/api/password-reset/{{ uid }}/{{ token }}/">buradan</a>
        erişebilirsiniz.
    </p>
    <p>Eğer parola sıfırlama talebinde bulunmadıysanız lütfen parolamı unuttum butonu ile kendinize yeni bir parola
        oluşturun.</p>
    <p>Teşekkürler,</p>
    <p>{{get_app_name}}</p>

{% endblock %}