{% extends 'partials/base.html' %}

{% block content %}
    <p>Sayın {{ user.first_name }} {{ user.last_name }},</p>
    
    <p>
        {{ app_name }} bağışçı hesabınız için parola sıfırlama formunuza
        <a href="{{ password_reset_url }}">buradan</a>
        erişebilirsiniz.
    </p>
    
    <p>Eğer parola sıfırlama talebinde bulunmadıysanız lütfen parolamı unuttum butonu ile kendinize yeni bir parola
        oluşturun.</p>
        
    <p>Teşekkürler,</p>

    <p>{{ app_name }}</p>

{% endblock %}