<div class="row mb-5 mt-5">
    <h5>Profil Bilgilerini Güncelle</h5>
    <form action="{% url 'web:profile_update' %}" method="post">
        {% csrf_token %}

        <div class="row mb-3">
            <div class="col-4">
                <label for="profileUpdateName" class="form-label">Adınız</label>
                <input type="text" class="form-control" id="profileUpdateName" name="profileUpdateName"
                       value="{{ request.user.first_name }}"
                       required>
            </div>
            <div class=" col-4">
                <label for="profileUpdateSurname" class="form-label">Soyadınız</label>
                <input type="text" class="form-control" id="profileUpdateSurname" name="profileUpdateSurname"
                       value="{{ request.user.last_name }}"
                       required>
            </div>
            <div class=" col-4">
                <label for="profileUpdateGender" class="form-label">Cinsiyet</label>
                <select class="form-select" name="profileUpdateGender" id="profileUpdateGender" required>
                    <option value="Male" {% if request.user.gender == 'Male' %} selected {% endif %}>Erkek</option>
                    <option value="Female" {% if request.user.gender == 'Female' %} selected {% endif %}>Kadın</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                <label for="profileUpdateEmail" class="form-label">Email Adresi</label>
                <input type="email" class="form-control" id="profileUpdateEmail" name="profileUpdateEmail"
                       value="{{ request.user.email }}"
                       required>
            </div>
            <div class="col-6">
                <label for="profileUpdatePhone" class="form-label">Cep Telefonu</label>
                <input type="text" class="form-control" id="profileUpdatePhone" name="profileUpdatePhone"
                       value="{{ request.user.phone_number }}"
                       required>
            </div>
        </div>

        {#    <div class="row mb-3">#}
        {#        <div class=" col-4">#}
        {#            <label for="profileUpdateCountry" class="form-label">Ülke</label>#}
        {#            <select class="form-select" name="profileUpdateCountry" id="profileUpdateCountry" required>#}
        {#                <option value="TR">Türkiye</option>#}
        {#            </select>#}
        {#        </div>#}
        {#        <div class=" col-4">#}
        {#            <label for="profileUpdateCity" class="form-label">Şehir</label>#}
        {#            <select class="form-select" name="profileUpdateCity" id="profileUpdateCity" required>#}
        {#                <option value="TR">İstanbul</option>#}
        {#            </select>#}
        {#        </div>#}
        {#        <div class=" col-4">#}
        {#            <label for="profileUpdateState" class="form-label">İlçe</label>#}
        {#            <select class="form-select" name="profileUpdateState" id="profileUpdateState" required>#}
        {#                <option value="TR">Başakşehir</option>#}
        {#            </select>#}
        {#        </div>#}
        {#    </div>#}

        <div class="row mb-3">
            <div class="col" style="display: flex;">
                <label for="profileUpdateIsApprovedToBeInTouch" class="form-label" style="margin-right: 10px;">
                    <i class="bi-info"></i> Tarafımla iletişime geçilmesine izin veriyorum.
                </label>
                <input type="checkbox" class="form-check" id="profileUpdateIsApprovedToBeInTouch"
                        {% if request.user.is_approved_to_be_in_touch %} checked {% endif %}
                       name="profileUpdateIsApprovedToBeInTouch">
            </div>
        </div>

        <button type="submit" class="btn btn-success">Güncelle</button>
    </form>
</div>


<div class="row mt-5">
    <h5>Parola Güncelle</h5>
    <form action="{% url 'web:password_update' %}" method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-6">
                <label for="profileUpdatePassword" class="form-label">Parola</label>
                <input type="password" class="form-control" id="profileUpdatePassword" name="profileUpdatePassword"
                       placeholder="Parola*"
                       required>
            </div>
            <div class="col-6">
                <label for="profileUpdatePasswordAgain" class="form-label">Parola Tekrar</label>
                <input type="password" class="form-control" id="profileUpdatePasswordAgain"
                       name="profileUpdatePasswordAgain"
                       placeholder="Parola Tekrar*"
                       required>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Parola Güncelle</button>
    </form>
</div>